<p>notebooks works!</p>



<table class="table">
    <caption>List of users</caption>
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Product Name</th>
        <th scope="col">Price</th>
        <th scope="col">Brand Name</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Notebooks</td>
        <td>12 euro</td>
        <td>Black & Red Handcover</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Notebooks</td>
        <td>20 euro</td>
        <td>Oxford</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Notebooks</td>
        <td>15 euro</td>
        <td>Moleskin Classic</td>
      </tr>
    </tbody>
  </table>

