<form [formGroup]="stationeryForm" (ngSubmit) ="onSubmit()">

<div>
<label for="name">
    Stationery  Name
</label>
<input id="name" type="text" formControlName="name">

</div>

<div>


    <label for="price"> Price</label>
    <input id="price" type="number" formControlName="price">

</div>

<div>
<label for="quantity">Quantity</label>
<input id="quantity"
type="number" formControlName="quantity">
</div>

<button type="submit" [disabled]="!stationeryForm.valid"> Submit</button>


<div *ngIf="name?.invalid && name?.touched" class="alert alert-danger">
    Name is required and must be more than 10 characters
</div>

<div *ngIf="price?.invalid && price?.touched" class="alert alert-danger">
Price written is requried and must be more than 10 characters</div>

<div *ngIf="quantity?.invalid && quantity?.touched" class="alert alert-danger">Quantity written is requried and must be more than 10 characters

</div>










</form>
